<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/test.js"></script>
  </head>c
  <body class="text-center">
    
<main class="form-signin">
    <form action="/mydonation" method="post">
        <img class="mb-4" alt="" >
        <h1 class="h3 mb-3 fw-normal">기부하기</h1>

        <div class="form-floating">
        <b>기부 포인트</b>
        <input type="text" class="form-control" id="price" name="price" placeholder="기부금액">
        </div>
        <div class="form-floating">
        <!-- <b>잔여 포인트</b>
        <input type="text" class="form-control" id="floatingPassword" name="point" placeholder="잔여금액"> -->
        <b>수혜자</b>
        <input type="text" value="성미정" class="form-control" id="receiv" name="reciever" placeholder="Password">
        </div>
        
        <button id="itemUploadButton" class="w-100 btn btn-lg btn-primary" type="submit">기부하기</button>
    
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>

        <div id="myTable"></div>
  </form>
</main>


    
  </body>
</html>